<nav class="footer fixed-bottom">
    <div class="container">
        <div class="footer-copyright text-center py-3">
            <span>OHA/SIEI - Stractegic Information Branch</span>
            <!-- <hr/> -->
            <br/>
            <span class="d-none d-md-block">
                <small>
                    Disclaimer: The findings, interpretation, and conclusions expressed herein are those of the authors and do not necessarily reflect <br>the views of the United States Agency for International Development. All errors remain our own.
                </small>
            </span>
        </div>
    </div>
</nav>