<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a id="logo" class="navbar-brand" href="/">
            <!-- <i class="fa fa-bar-chart"></i> -->
            <img class="" src="/assets/img/si_logo_white.png" width="30" height="30" alt="logo"/>
            OHA - SI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-nav" aria-controls="app-nav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="app-nav">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navbar %}
                {% if item.submenu[0] %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ item.link }}" data-toggle="dropdown">{{ item.name }}</a>

                    <ul class="dropdown-menu">
                        {% for sub in item.submenu %}
                        <li>
                            <a class="nav-link dropdown-item" href="{{ sub.link }}">{{ sub.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>

                </li>
                {% elsif item.link == "https://github.com/USAID-OHA-SI" %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}" target="_blank">{{ item.name }}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>