<nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a id="logo" class="navbar-brand" href="/"><i class="fa fa-bar-chart" ></i> OHA - SI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#app-nav" aria-controls="app-nav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="app-nav">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navbar %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>