{% if ttl_posts > 1 %}

<div class="row">
    <div class="col-12">
        <div class="pagination my-3">

            <span>&laquo; Previous &nbsp;</span>

            {% for page in (1..ttl_pages) %}
            {% if page == 1 %}
            <a href="/learn/">{{ page }}</a>
            {% else %}
            <!--THIS IS NOT YET WORKING <a href="/learn/page/{{ page }}">{{ page }}</a> -->
            f=
            <a href="/learn/">{{ page }}</a>
            {% endif %}
            {% endfor %}

            <span>Next &raquo;</span>

        </div>
    </div>
</div>

{% endif %}
