---
layout: default
#permalink: /learn/
title: SI - Learning Resources
pagination:
    enabled: true
    collection: posts
---

<div class="content container">

    <div class="row">
        <div class="col-12">
            <h1 class="text-uppercase display-5">Learning Resources</h1>

            <p class="text-justify">We are a group of analysts, monitoring and evaluation experts,
                economists, geographers, and public health experts that like to learn from one another.
                Collaborative learning has helped us grow as a team. Share what you know with others and learn from them in return.</p>

            <p class="text-justify">Below are some of what we’ve been teaching each other. The resources are organised as posts and grouped into categories and tags.</p>
        </div>
    </div>

    <!-- Categories, Tags, Authors -->
    <div class="row my-1">
        <div class="col-4 bg-callout bg-callout-secondary">
            <h4 class="display-5">CATEGORIES</h4>

            <div class="tags-expo mb-3">
                {% for category in site.categories %}
                    {% capture categoryname %}{{ category | first }}{% endcapture %}
                    <a href="./categories/#{{ categoryname | slugize}}"
                        class="post-tag badge badge-secondary">
                        <i class="fa fa-folder"></i> {{categoryname | slugize}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-4 bg-callout bg-callout-info">
            <h4 class="display-5">TAGS</h4>

            <div class="tags-expo mb-3">
                {% for tag in site.tags %}
                    {% capture tagname %}{{ tag | first }}{% endcapture %}
                    <a href="./tags/#{{ tagname | slugize}}"
                        class="post-tag badge badge-info">
                        <i class="fa fa-tag"></i> {{ tagname | slugize}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-4 bg-callout bg-callout-success">
            <h4 class="display-5">AUTHORS</h4>

            <div class="tags-expo mb-3">
                {% assign authors = site.posts | group_by: "author" %}
                {% for author in authors %}
                    <a href="./authors/#{{ author.name | slugize}}"
                        class="post-tag badge badge-success">
                        <i class="fa fa-user-circle"></i> {{ author.name | default:"Not Available" | slugize}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Posts -->
    <div class="row my-1">
        <div class="col-12">
            <h4 class="display-5">RECENT POSTS</h4>
        </div>
    </div>

    <!-- Pagination -->
    {% include paginate_posts.html %}

    <!-- Posts -->
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
        <!-- {% assign recent_posts = site.posts | sort: 'date' | reverse %} -->
        {% assign recent_posts = paginator.posts | sort: 'date' | reverse %}
        {% for post in recent_posts %}
        <div class="col mb-4">
            <div class="card h-100">
                <!-- Thumbnail -->
                <div class="post-thumbnail">
                    <a class="display-5" href="{{ post.url }}">
                    {% if post.thumbnail %}
                        <img src="/assets/img/posts/{{ post.thumbnail }}"
                        class="card-img-top thumbnail"
                        alt="{{ post.title }}">
                    {% else %}
                        <!-- Get first image's source -->
                        {% assign post_images = post.content | split:"<img " | reverse %}

                        {% for image in post_images %}

                            {% if image contains 'src=' %}
                                {% assign image_attrs = image | split:">" | first %}
                                {% assign attrs = image_attrs | split:" " %}

                                {% for attr in attrs %}
                                    {% if attr contains 'src' %}
                                        {% assign src = attr %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}

                                {% break %}
                            {% endif %}
                        {% endfor %}

                        <!-- Insert Post Image -->
                        {% if src %}
                            <img {{ src }} class="card-img-top thumbnail" alt="Post thumbnail">
                        {% else %}
                            <img src="/assets/img/g4578.png" class="card-img-top thumbnail" alt="{{ post.title }}">
                        {% endif %}
                    {% endif %}
                    </a>
                </div>

                <!-- Post Content -->
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="display-5" href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h5>

                    <p class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</p>
                </div>
                <!-- Post Footer -->
                <div class="card-footer text-muted">
                    <small> Posted {% if post.author and post.author != "" %} by {{ post.author }} {% endif %} on {{ post.date | date: "%m/%d/%Y" }}</small>
                    <br/>
                    <small> <i class="fa fa-suitcase"></i> <!-- Categories:--> {% if post.categories %}  {{ post.categories | join: ", " }} {% else %} "N/A" {% endif %}</small>
                    <br/>
                    <small> <i class="fa fa-tags"></i> <!-- Tags:--> {% if post.tags %}  {{ post.tags | join: ", " }} {% else %} "N/A" {% endif %}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    {% include paginate_posts.html %}

    <!-- More Post -->
    <!-- <div class="row mt-1">
        <div class="col-12">
            <a href="/learn/categories/">List posts by category ...</a>
        </div>
    </div> -->
</div>
