---
layout: default
permalink: /learn/authors/
title: SI - Recurrent authors
---

<div class="content container">

    <!-- <div class="row">
        <div class="col-12">
            <h3>POSTS ARE TAGGED</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim facilisis risus in vehicula. Cras in lorem a ex ultrices laoreet. Mauris vel egestas tellus. Duis quis risus in leo sodales tincidunt. Proin rhoncus urna mi, vitae fringilla
                mi commodo eget. Maecenas in egestas mi. Nulla dui velit, vestibulum in ullamcorper ut, ornare et nibh. Integer sit amet tortor eu quam sagittis lacinia id non arcu.</p>
        </div>
    </div> -->

    <div class="row">
        <div class="col-12">

            <h3 class="display-5">LIST OF POSTS BY AUTHOR</h3>
            {% assign authors = site.posts | sort:"author" | group_by: "author"%}

            <ul>
            {% for author in authors %}
                {% capture authorname %}{{ author.name | first }}{% endcapture %}
                <li><h5 id="{{ author.name }}">{{ author.name }}</h5></li>

                <ul class="mb-3">
                    {% assign filteredposts = site.posts | where: "author", author.name %}
                    {% for post in filteredposts %}

                    <li class="mb-2">
                        <i class="fa fa-file-o" title="post"></i>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <br/> &nbsp;&nbsp;
                        <span class="card-text">{{ post.excerpt | strip_html | strip_newlines | truncate: 80 }}</span>
                        <br/> &nbsp;&nbsp;
                        <small>
                            <i class="fa fa-calendar" title="date"></i> {{post.date | date: "%Y-%m-%d" }} &nbsp;&nbsp;
                            <i class="fa fa-user-circle" title="author"></i> {{post.author}} &nbsp;&nbsp;
                            <i class="fa fa-folder-open" title="categories"></i>
                            {% for category in post.categories %}
                                <a href="{{site.url}}/learn/categories/#{{ category | slugify }}"
                                    class="badge badge-info">
                                    {{ category | slugify }}</a>
                            {% endfor %}
                        </small>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>

        </div>
    </div>
</div>