---
layout: default
---
<div class="content container">
    <div class="row mt-3">
        <div class="d-none d-md-block col-md-3 mt-3 position-relative">
            <div id="post-sidebar" class="position-fixed">
                <span class="display-5"><i class="fa fa-list-ul"></i> <a class="" href="/{{ page.categories }}/">Back to list</a></span>

                {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
                <ul class="list-group list-group-flush">
                {% for year in postsByYear %}
                    {% assign bYear = year.name | prepend: "blog-" %}
                    <li class="list-group-item"><i class="fa fa-folder-o"></i> <a href="#{{bYear}}" data-toggle="collapse" aria-expanded="true" aria-controls="{{bYear}}">{{ year.name }}</a></li>
                    {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

                    <div id="{{bYear}}" class="collapse">
                    <ul class="list-group list-group-flush">
                    {% for month in postsByMonth %}
                    {% assign bMonth = month.name | prepend: "blog-" %}
                    {% assign bMonth = bMonth | append: bYear %}
                        <li class="list-group-item">&nbsp;&nbsp;<i class="fa fa-folder-o"></i> <a href="#{{bMonth}}" data-toggle="collapse" aria-expanded="false" aria-controls="{{bMonth}}">{{ month.name }}</a></li>

                        <div id="{{bMonth}}" class="collapse">
                        <ul class="list-group list-group-flush">
                            {% for post in month.items %}

                                {% if post.title == page.title %}
                                    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-file"></i>
                                {% else %}
                                    <li class="list-group-item">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-file-o"></i>
                                {% endif %}
                                        <a href="{{ post.url }}">{{ post.title }}</a>
                                    </li>
                            {% endfor %}
                        </ul>
                        </div>

                    {% endfor %}
                    </ul>
                    </div>

                {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-sm-12 col-md-9">
            <div class="post">
                <h3 class="post-title">{{ page.title }}</h3>

                <span><small> Posted {% if page.author and page.author != "" %} by {{ page.author }} {% endif %} on {{ page.date | date: "%m/%d/%Y" }}</small></span>

                <hr/>

                <article class="post-content">
                    {{ content }}
                </article>
            </div>
        </div>
    </div>
</div>